<table class="table" id="ip_table">
    <thead>
        <tr>
            <th>IP Address</th>
            <th>Monitored</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ip_addr in ip_addrs | filter:searchIP">
            <td>{{ ip_addr.ipv4_address }}</td>
            <td class="column-center"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="ip_addr.monitor > 0"></span></td>
            <td>{{ ip_addr.description  }}</td>
            <td>{{ ip_addr.device_type }}</td>
        </tr>
    </tbody>
</table>
