<table class="table" id="subnet_table">
    <thead>
        <tr>
            <th>Subnet</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="subnet in subnets | fuzzy: searchSubnet" ng-class="{'selected_subnet': subnet.selected}" ng-click="changeSelectedSubnet(subnets.indexOf(subnet))" >
            <td>{{ subnet.name }}</td>
            <td>{{ subnet.description }}</td>
            <td nowrap>
                <div ng-show="subnet.selected">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal" ng-click="editSubnet(subnet)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteConfirm" ng-click="setDelete(subnet)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>