
<div id="background" class="container">
    <div id="subnetTableContainer" class="tableContainer">
        <div ng-include="'app/views/partials/subnet_table.html'"></div>
    </div>
    <div id="ipTableContainer" class="tableContainer">
        <div ng-include="'app/views/partials/ip_table.html'"></div>
    </div>

    <button id="advSearch" type="button" class="btn btn-default" onclick="AdvancedSearch()">Advanced Search</button>
    <button id="add" type="button" class="btn btn-default btn-lg" onclick="Add()">+</button>
</div>